<h2>Input your Crossfit Workout: </h2>

<form class="" action="/crossfit_workouts" method="post">
  <label for="title"> Workout Title:</label>
  <input type="text" name="workout_name">

  <label for="name">Content:</label>
  <input type="text" name="content">

  <label for="name"> Time Completed:</label>
  <input type="text" name="time_completed"
  <label for="name"> Rounds Completed:</label>
  <input type="integer" name="rounds_completed"

  <input type="submit" name="" value="Create Entry">
</form>
