<h2>Input Your Crossfit Workout: </h2>

<form class="" action="/crossfit_workouts" method="post">
  <label for="workout_name">Workout Name:</label>
  <input type="text" name="workout_name">
  <label for="content">Content:</label>
  <input type="text" name="content" size="100">
  <label for="time_completed">Time Completed:</label>
  <input type="text" name="time_completed">
  <label for="rounds_completed">Rounds Completed:</label>
  <input type="integer" name="rounds_completed">


  <input type="submit" name="" value="Create Workout">
</form>
