<h2>Input Your Crossfit Workout: </h2>

<form class="" action="/crossfit_workouts" method="post">
  <label for="title">Workout Name:</label>
  <input type="text" name="title">
  <label for="name">Content:</label>
  <input type="text" name="content">
  <label for="time">Time Completed:</label>
  <input type="text" name="time">
  <label for="rounds">Rounds Completed:</label>
  <input type="integer" name="rounds">


  <input type="submit" name="" value="Create Workout">
</form>
